body {
  font-family: var(--defult-font-family);
}
:root {
  --primary-color: deeppink;
  --second-color: #6bd9e7;
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  --headinng-font-family: 'Playfair Display', serif;
  --defult-font-family:'Poppins', sans-serif;
}
.about {
  display: flax;
   text-align: center;
    padding: 70px 20px;
}
.about p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.about h2 {
    font-family: var(--defult-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

h1 {
  color: var(--primary-color);
  font-family: var(--headinng-font-family);
  font-weight: bold;
  font-size: 86px;
  line-height: 1.5;
}

h2 {
  color: var(--second-color);
  font-size: 44px;
}


a {
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
}
a:visited {
  color: rgb(25, 88, 88);
}

a:hover {
  background-color: var(--second-color);
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#contactme {
  box-shadow: var(--box-shadow);
  background-color: deeppink;
  color: white;
}

.textcols {
  white-space: nowrap;
}
.textcols-item {
  white-space: normal;
  text-align: left;
  font-size: 18px;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  background: #fff2e1;
  margin: 10px 10px;
  box-shadow: var(--box-shadow);
}

#contacts {
  justify-content: center;
}

#emailhart {
  font-size: 50px;
  
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.project-description {
    padding: 120 60px;
}

.btn-branding-outline {
color: var(--primary-color);
border: 1px solid var(--primary-color);
border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 12px 20px;
}

.logo {
  max-height: 40px;
}

nav {
padding: 20px 20px;
}

nav ul {
margin: 0;
padding: 0;
}

nav li {
  display: inline;
  list-style: none;
line-height: 42px;
margin-left: 15px;
}



nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out ;
}


nav a:hover, nav li.active a {
color: var(--primary-color)
}

@media (max-width:900px) {
  h1 {
    font-size: 50px;
    line-height: 2;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }

.content-conteiner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.content-conteiner {
  padding: 0;
}

}

.content {
  padding: 120px 20px;
  text-align: center;
}

.content h1 {
font-size: 64px;
line-height: 80px;
}
.content h2 {
font-size: 20px;
font-family: var(--defult-font-family);
}
.content h3 {
font-size: 24px;
font-family: var(--defult-font-family);
line-height: 1.5;
}

.content p {
font-size: 18px;
font-family: var(--defult-font-family);
}
.content-conteiner a {
font-size: 18px;
font-family: var(--defult-font-family);
text-align: center;
background-color: var(--second-color);
color: var(--primary-color);
margin-left: auto;
}


.container {
  margin: 30px;
}

